<div class="header">
  <div style="float: left;">
    <img src="../assets/facebook.svg" alt="facebook" width="150" height="146" />
  </div>
  <div class="title">
    Social settings
  </div>
  <div class="nav-list">
    <span>Home</span>
    <span>Show-all</span>
    <span>Dashboard</span>
  </div>
</div>

<div style="height: 600px;">
  <div class="sidenav">
    <div *ngFor="let item of sidenavList" style="padding: 10px;">
      <span><img src="{{ item.path }}" height="15" width="15" /></span>
      <span style="padding-bottom: 5px;"> {{ item.name }} </span>
    </div>
  </div>
  <div class="m-container">
    Main content
  </div>
</div>

<div class="footer">Footer</div>

<router-outlet></router-outlet>
